body {
    margin: auto 20rem auto 20rem;
    
}

/* Top Container */
.top-container {
    display: flex;
    margin-left: 22.5rem;
}

.top-name .myimage-item {
    flex-direction: 1 1 auto;
}

.myimage-item {
    padding-left: 5rem;
    height: 6.25rem;
    width: 6.25rem;
}

/* Middle Container */

.middle-container {
    display: flex;
}

.bodyresume {
    padding: 1rem;
    border: .5rem solid black;
}
