body {
    margin: auto 20rem auto 20rem;
    text-align: center;
}

/* Top Container */
.top-container {
    display: flex;
    flex: 0 1 auto;
}



.myimage-item {
    height: 100px;
    width: 100px;
}