body {
    margin: auto 10rem auto 10 rem;
}


/* Whole Container */

.whole-container {
    width: 62.5rem;
    margin: auto;
    border: solid 5px black;
    display: flex;
    justify-content: center;
}

/* Top Container */
.top-container {
    display: flex;
    justify-content: center;
    margin: 10px;
}

.top-name .myimage-item {
    flex: 1 1 auto;
}

.myimage-item {
    padding-left: 5rem;
    height: 6.25rem;
    width: 6.25rem;
}

/* Middle Container */

.middle-container {
    display: flex;
    margin: 10px 10px;
}

.left-container {
    flex: 1 1 auto;
}

.right-container {
    flex: 1 1 800px;
}


.contact-container p {
    display: inline-block;
    
}

